.home-container {
  max-width: 500px;
  margin: 0 auto;

  // background: #f3f6f9;

  border-radius: 30px;
  // box-shadow: 0 3px 5px 1px rgba($color: #858585, $alpha: 0.2);
}

main {
  padding: 7rem 2rem 6rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  .buttons {
    display: flex;
    gap: 2rem;
  }
}

.nav-charts {
  font-size: 0.75rem;
  color: #aeb8c4;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.5rem;

  span {
    padding: 0.25rem 1rem;
    cursor: pointer;
  }

  .active {
    background: #aeb8c4;
    color: white;
    border-radius: 18px;
  }
}