.home-container {
  max-width: 500px;
  margin: 0 auto;
  height: calc(100vh - 4rem);

  background: #f3f6f9;

  border-radius: 10px;
  box-shadow: 0 3px 5px 1px rgba($color: #858585, $alpha: 0.2);
}

main {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  .buttons {
    display: flex;
    gap: 2rem;
  }
}