nav {
  padding: 1rem 2rem 2rem;
  background: white;
  border-radius: 0 0 10px 10px;
  ul {
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    
    li {
      color: #aeb8c4;
      cursor: pointer;
    }

    .active {
      color: #4c5968;
    }
  }
}